* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/images/main-background.jpg") no-repeat top center fixed;
  background-size: cover;
}

.input-section {
  width: min(85%, 45em);
  margin: 2em auto;
}
.input-section a {
  text-decoration: none;
  background: #18425a;
  color: #ffffff;
  padding: 0.4em;
  font-size: 1.25rem;
  border-radius: 5px;
}
.input-section a:hover {
  background: hsl(202, 58%, 32%);
}
.input-section form {
  display: flex;
  flex-direction: column;
  margin-top: 1.3em;
}
.input-section form input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1em;
  border: none;
  border-radius: 5px;
}
.input-section form input:focus {
  border: none;
  outline: none;
}
.input-section form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
}
.input-section form button {
  font-family: "Poppins", sans-serif;
  background: #fc6042;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.6em 1.6em;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 0.6em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.input-section form button:hover {
  background: #fd8068;
}
.input-section form button:focus {
  border: none;
  outline: none;
}

.initial-content-card {
  background: hsla(182, 13%, 42%, 0.7);
  width: min(85%, 45em);
  margin: 0em auto 3em auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.initial-content-card h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.8rem, 5vw, 2.3rem);
  text-align: center;
  line-height: 1.3em;
  font-weight: 700;
  width: min(15em, 100%);
}
.initial-content-card p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 1em;
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  line-height: 1.4em;
  width: min(25em, 100%);
}

.loading-card {
  background: hsla(182, 13%, 42%, 0.7);
  width: min(85%, 45em);
  margin: 0em auto 3em auto;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.loading-card .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-card .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
}
.loading-card .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-card .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-card .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.loading-card h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.8rem, 5vw, 2.3rem);
  text-align: center;
  line-height: 1.3em;
  font-weight: 700;
  margin-top: 0.3em;
}

.error-card {
  background: hsla(182, 13%, 42%, 0.7);
  width: min(85%, 45em);
  margin: 0em auto 3em auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.error-card h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.8rem, 5vw, 2.3rem);
  text-align: center;
  line-height: 1.3em;
  font-weight: 700;
  width: min(15em, 100%);
}
.error-card p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 1em;
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  line-height: 1.4em;
  width: min(25em, 100%);
}

.weather-card {
  background: hsla(182, 13%, 42%, 0.7);
  width: min(85%, 45em);
  margin: 0em auto 3em auto;
  border-radius: 5px;
  padding: 2.5em 1.5em;
}
.weather-card .section-one {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.weather-card .section-one .section-one-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
}
.weather-card .section-one .section-one-info p:first-of-type {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 2.1rem;
}
.weather-card .section-one .section-one-info p:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
}
.weather-card .section-one .section-one-info p:last-of-type {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2rem;
}
.weather-card .section-one .section-one-info img {
  width: 5.5em;
}
.weather-card .section-one .section-one-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3.6em;
}
.weather-card .section-one .section-one-temp h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 4rem;
}
.weather-card .section-one .section-one-temp div {
  display: flex;
  align-items: center;
}
.weather-card .section-one .section-one-temp div h2:first-of-type {
  font-family: "Poppins", sans-serif;
  color: #81b7e4;
  font-weight: 400;
  font-size: 1.8rem;
}
.weather-card .section-one .section-one-temp div h2:last-of-type {
  font-family: "Poppins", sans-serif;
  color: #fd8068;
  font-weight: 400;
  margin-left: 0.5em;
  font-size: 1.8rem;
}
.weather-card .section-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;
  margin-top: 2em;
}
.weather-card .section-two .section-two-card {
  background: #daf3f7;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.weather-card .section-two .section-two-card p:first-of-type {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 0.85rem;
  text-align: center;
  margin-top: 0.5em;
}
.weather-card .section-two .section-two-card p:last-of-type {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.35rem;
  text-align: center;
}
.weather-card .section-two .section-two-card img {
  width: 2.5em;
}
.weather-card .section-three {
  margin-top: 2.5em;
}
.weather-card .section-three .swiper {
  width: 100%;
  height: 100%;
}
.weather-card .section-three .swiper .swiper-wrapper .swiper-slide {
  background: hsl(201, 87%, 83%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}
.weather-card .section-three .swiper .swiper-wrapper .swiper-slide p {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}
.weather-card .section-three .swiper .swiper-wrapper .swiper-slide p:nth-of-type(3) {
  font-size: 1.4rem;
}
.weather-card .section-three .swiper .swiper-wrapper .swiper-slide p:last-of-type {
  font-size: 0.8rem;
}
.weather-card .section-three .swiper .swiper-wrapper .swiper-slide img {
  width: 4em;
}
.weather-card .section-three .swiper .swiper-button-next {
  color: #184059;
  transform: scale(0.85);
  font-weight: 700;
}
.weather-card .section-three .swiper .swiper-button-prev {
  color: #184059;
  transform: scale(0.85);
  font-weight: 700;
}
.weather-card .section-four .air-quality-index {
  border-radius: 5px;
  padding: 1em;
  width: min(13em, 95%);
  margin: 2em auto 0em auto;
}
.weather-card .section-four .air-quality-index p:first-of-type {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
}
.weather-card .section-four .air-quality-index p:last-of-type {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
}

.no-display {
  display: none;
}

@media (min-width: 46em) {
  .input-section form {
    flex-direction: row;
  }
  .input-section form button {
    margin-left: 0.8em;
    margin-top: 0;
  }
  .weather-card .section-one {
    flex-direction: row;
    justify-content: space-between;
  }
  .weather-card .section-one .section-one-info {
    align-items: flex-start;
    text-align: left;
    margin-left: 0.5em;
    margin-top: 0em;
  }
  .weather-card .section-one .section-one-temp {
    margin-right: 2em;
  }
}
@media (min-width: 38em) {
  .weather-card {
    padding: 2.5em;
  }
  .weather-card .section-two {
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
  .weather-card .section-two .section-two-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .weather-card .section-two .section-two-card p:first-of-type {
    text-align: left;
    margin-top: 0em;
  }
  .weather-card .section-two .section-two-card p:last-of-type {
    text-align: left;
  }
  .weather-card .section-two .section-two-card img {
    margin-left: 0.5em;
  }
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .initial-content-card h1 {
    font-size: min(max(1.8rem, 5vw), 2.3rem);
  }
  .initial-content-card p {
    font-size: min(max(1.1rem, 3vw), 1.4rem);
  }
  .error-card h1 {
    font-size: min(max(1.8rem, 5vw), 2.3rem);
  }
  .error-card p {
    font-size: min(max(1.1rem, 3vw), 1.4rem);
  }
  .loading-card h1 {
    font-size: min(max(1.8rem, 5vw), 2.3rem);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=weather.css.map */
